body{
    margin: 0;
}

h1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

#box-one{
    height: 50px;
    padding-bottom: 5px;
}
.points{
    height: 10px;
}
#pointer{
    border: 5px solid white;
    width: 350px;
    height: 50px;
    position: absolute;
    left: 950px;  
}
.box{
    float: left;
    color: darkslateblue;
}
#color-one{
    color: navy;
}
#color-two{
    color: red;
}
.para-size{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.half-width{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 100px;
}
h2{
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
}
#project{
    text-align: center;
    padding: 60px;
}
.link-button{
    text-decoration: none;
    background-color: orangered;
    color: white;
    width: 20px;
    border: 5px solid orangered;
    border-radius: 5px;
    padding: 3px;
    margin: 2px;
}
#box-four{
    width: 100%;
    background-color: whitesmoke;
    height: 750px;
}
.simple-box{
    box-shadow: 10px 10px 40px gray;
    background-color: whitesmoke;
    height: 50%;
    border-radius: 20px;
    float: left;
    width: 20%;
    margin-left: 7%;
    padding: 2%;
}
.rights{
    text-align: center;
    font-size: 20px;
}
.first{
    float: left;
    width: 5%;
}
#one{
    border: 2px solid white;
    width: 15%;
    margin-left: 3%;
    margin-right: 3%;
}
#two{
    border: 2px solid white;
    width: 15%;
    margin-left: 3%;
    margin-right: 3%;
}
#three{
    border: 2px solid white;
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
}
#four{
    border: 2px solid white;
    width: 20%;
    margin-left: 3%;
}
#box-five{
    height: 300px;
}
.banner{
    position: absolute;
    width: 880px;
    height: 220px;
    left: 300px;
    top: 2225px;
    align-items: center;

}
#div-one{
    position: absolute;
    width: 220px;
    height: 65px;
    left: 360px;
    top: 2310px;
    font-weight: 700;
    font-size: 50px;
    color: white;
    font-family: 'Bebas Neue', cursive;

}
#div-two{
    position: absolute;
    width: 65px;
    height: 20px;
    left: 1000px;
    top: 2310px;
    color: white;
    background-color: tomato;
    border: 1px solid tomato;
    padding: 10px 15px;
    border-radius: 5px;
}
.Picture{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-bottom: 30px;
}
#contact{
    font-weight: 500;
    font-family: 'Bebas Neue', cursive;
    color: grey;
}
#mail{
    font-family: 'Roboto', sans-serif;
}

